extends ../common/layout.jade

block title
    title All Players
block content
    #content
        table
            thead
                tr
                    td email
                    td Name
                    td Registered?
                    td Organizations
            tbody
                each player in players
                    tr
                        td= player.email
                        td= player.name
                        td= player.registered ? "true" : "false"
                        td= player.user
                        td
                            each org in player.organizations
                                = org + " "

