extends ../common/layout
block title
    title Add New Player
block content
    h1 Add New Player
    include ./_player-form
    form(action="/players" method="post")
      +_player-form(player, errors)
      input(type="submit")
    a(href= "#{referrer}") Back

