
extends ../common/layout.jade
block title
   title Show Player
block content
   h1 Show Player
   table
      thead
         tr
            td email
            td Name
            td Registered?
            td
            td
            td
      tbody
         tr
            td= player.email
            td= player.name
            td= player.registered ? "true" : "false"
   input(type="submit")
   a(href= "#{referrer}") Back

