mixin _event-form(event, errors)
   if event._id
      input(type="hidden", name="_id", value= event._id)
   if errors.name
     each err in errors.name
         .error
            = err.msg
   label event name
      input(type="text", name="name", value= event.name, required)
   if errors.date
     each err in errors.date
        .error
            =err.msg
   label Event Date
      input(type="date", name="date", class="datepicker", value= event.date, required)
   if errors.location
     each err in errors.location
        .error
            err.msg
   label Event Location
      input(type="text", name="location", value= event.location, required)
