mixin _event-form
   if errors.name
      .error
         = errors.name.msg
   label event name
      input(type="text" name="name" value= event.name required)
   if errors.date
      .error
         = errors.date.msg
   label Event Date
      input(type="date" name="date" class="datepicker" value= event.date required)
   if errors.location
      .error
         = errors.location.msg
   label Event Location
      input(type="text" name="location" value= event.location required)
