*.iml
.git
.git/*
.idea
.idea/*
dist
dist/*
node_modules
node_modules/*
test/.lein*
test/target/classes/META-INF/maven/golf-test/golf-test/pom.properties
golf-reg.iml
data/db/*
public/signup.html
.env
js/app.js






