extends common/layout.jade

block title
   title Golf Registration
   link(rel="stylesheet" href="/public/stylesheets/login.css")

block content
   form(class=login-box, action="/login", method="post")
        label email
            input(type='text', placeholder="mail@example.com", name='username')
        label password
            input(type="password", name="password")
        input(type="submit")
    a(href="/register") Register
