body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: block;
}

label input {
  display: block;
}

.error {
  color: red;
}

form.delete {
  display:none;
}

label.checkbox-label {
  display: inline;
}

#template {
  display: none;
}