doctype html
html
 head
     link(rel="stylesheet" href="../public/stylesheets/style.css")
     script(src="../public/javascript/jquery-2.1.4.min.js" type="text/javascript")
     script(src="../public/javascript/app1.js" type="text/javascript")
     block title
        title Golf Registration #{pageTitle}
 body
    block content
