@import 'normalize';
@import 'palette';
@import 'fonts';

h1 h2 {
  font-family: $sans;
  font-weight: bold;
}

h3 h4 {
  font-family: $sans;
}

html {
  background-color: $background;
}

body {
  padding-left: 20px;
  padding-top: 20px;
}

td { padding-left: 5px;
     padding-right: 5px;}

@import 'forms';

#content table, #content form {
  margin: 0 auto;
}

h1 {
  text-align: center;
}
