a {
  color: $highlight;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

input[type="text"], input[type="password"] , input[type="date"], input[type="time"]{
  margin-top: 5px;
  margin-left: -5px;
}

label input {
  display: block;
}

.error {
  color: red;
}

form.delete {
  display:none;
}

label.checkbox-label {
  display: inline;
}

#template {
  display: none;
}

.btn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: $sans;
  color: #ffffff;
  font-size: 16px;
  background: $highlight;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

input[type="text"], input[type="password"] {
  width: 300px;
}

select, option {
  font-family: $sans;
  color: #ffffff;
  font-size: 16px;
  background-color: $highlight;
}


