/* Coolors Exported Palette - coolors.co/a80874-b7fdfe-5ef38c-2b9720-343a1a */

$color1: #a80874; //rgba(168, 8, 116, 100) purple
$background: #b7fdfe; //rgba(183, 253, 254, 100) blue-green
$color3: #5ef38c; //rgba(94, 243, 140, 100) light-green
$highlight: #2b9720; //rgba(43, 151, 32, 100) medium-green
$dark: #343a1a; //rgba(52, 58, 26, 100) dark-green