@import 'palette';

html {
  background: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255,0.3)),
  url("/images/splash-large.jpg") no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
}

.form-box {
  background-color: $background;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
  margin: 20px;
}

@media (max-width:600px) {
  .form-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.remaining-slots {
  font-weight: bold;
}

.text-box {
  background-color: $background;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
}

.left-buttons{
  float: left;
}

.right-buttons {
  float:right;
}

.tee-time {
  margin-top: 10px;
  clear: both;
}

.time-select {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.time-dropdown {
  width: 100%;
}

#tee-time-table h3 {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.react-typeahead-container {
  clear: both;
  padding-top: 10px;
}

.react-typeahead-input-container {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
}

.react-typeahead-input-container input {
  font-size: 16px;
  height: 27px;
  padding: 2px 6px;
  width: 100%;
  border: 0;
  outline: none;
}

.react-typeahead-input-container input:focus {
  border: 1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.react-typeahead-options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-top: 0;
  cursor: default;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2)
}

.yt-option {
  padding: 0 6px;
}

.yt-selected-option {
  background-color: #eee;
}

.scroll-box {
  height: 120px;
  width: 120px;
  overflow: auto;
  $background-color: $background;
}

.pick-list{
  list-style-type: none;
}

.event-link {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

.remove-btn {
  background-color: $danger;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.add-remove-button {
  color: $danger;
}

